# 연도별, 산업별 app_cit trend 비교

### 1. appcit(byfirm) / cit
### cit 
- pat_class, pat_info join
- groupby year sum

### appcit
- pat_class, app_citation join
- groupby year count

### concatenate 후 마무리

### 2. appcit(byfirm) / appcit
### appcit(byfirm) / cit
- 위에서 구함

### appcit / cit
- 코드에 byfirm 대신 appcit 집어넣으면 됨

### appcit(byfirm)/cit  * cit / appcit 으로 마무리

__1. total cit__

In [46]:
import os
import pandas as pd
import numpy as np

os.chdir('E:/apps/db_table')

In [65]:
bio = pd.read_csv('patent_class_BIO.csv')
ee = pd.read_csv('patent_class_EE&IT.csv')

bio = bio.loc[bio['nber']==32,:]
bio = bio.loc[:,['patent_id','year']]

ee = ee.loc[ee['nber']==25,:]
ee = ee.loc[:,['patent_id','year']]

df = pd.read_csv('patent_info.csv')
df = df.loc[:,['patent_id','num_us_citations']]

bio = bio.merge(df,how='left',on='patent_id')
ee = ee.merge(df,how='left',on='patent_id')

In [66]:
bio.drop('patent_id',axis=1,inplace=True)
ee.drop('patent_id',axis=1,inplace=True)

bio = bio.groupby('year',as_index=False).agg(['count','sum'])
ee = ee.groupby('year',as_index=False).agg(['count','sum'])

In [67]:
bio_cit = bio
ee_cit = ee

In [68]:
bio_cit.columns = bio_cit.columns.droplevel(0)
bio_cit.reset_index(inplace=True)

ee_cit.columns = ee_cit.columns.droplevel(0)
ee_cit.reset_index(inplace=True)

__2.appcit (byfirm)__

In [69]:
bio = pd.read_csv('patent_class_BIO.csv')
ee = pd.read_csv('patent_class_EE&IT.csv')

bio = bio.loc[bio['nber']==32,:]
bio = bio.loc[:,['patent_id','year']]

ee = ee.loc[ee['nber']==25,:]
ee = ee.loc[:,['patent_id','year']]

df = pd.read_csv('app_citation_byfirm.csv')

In [70]:
len(bio), len(ee)

(47522, 43911)

In [71]:
bio = bio.merge(df,how='left',on='patent_id')
ee = ee.merge(df,how='left',on='patent_id')

len(bio), len(ee)

(651011, 322047)

In [72]:
bio.dropna(how='any',inplace=True)
ee.dropna(how='any',inplace=True)

len(bio), len(ee)

(629987, 297874)

In [73]:
bio.drop('patent_id',axis=1,inplace=True)
ee.drop('patent_id',axis=1,inplace=True)

bio = bio.groupby('year',as_index=False).count()
ee = ee.groupby('year',as_index=False).count()

bio = bio.merge(bio_cit,on='year')
ee = ee.merge(ee_cit,on='year')

In [74]:
bio['ratio'] = bio['number'] / bio['sum']
ee['ratio'] = ee['number'] / ee['sum']

bio_bf = bio
ee_bf = ee

__3. appcit (total)__

In [75]:
bio = pd.read_csv('patent_class_BIO.csv')
ee = pd.read_csv('patent_class_EE&IT.csv')

bio = bio.loc[bio['nber']==32,:]
bio = bio.loc[:,['patent_id','year']]

ee = ee.loc[ee['nber']==25,:]
ee = ee.loc[:,['patent_id','year']]

df = pd.read_csv('app_citation.csv')
df.drop('by_examiner',axis=1,inplace=True)
len(bio), len(ee)

(47522, 43911)

In [76]:
bio = bio.merge(df,how='left',on='patent_id')
ee = ee.merge(df,how='left',on='patent_id')

len(bio), len(ee)

(707824, 443599)

In [77]:
bio.drop('patent_id',axis=1,inplace=True)
ee.drop('patent_id',axis=1,inplace=True)

bio = bio.groupby('year',as_index=False).count()
ee = ee.groupby('year',as_index=False).count()

bio = bio.merge(bio_cit,on='year')
ee = ee.merge(ee_cit,on='year')

In [78]:
bio['ratio_t'] = bio['number'] / bio['sum']
ee['ratio_t'] = ee['number'] / ee['sum']

   year  number  count       sum   ratio_t
0  2005    5757   4109  140656.0  0.040930
1  2006   13178   4731  197627.0  0.066681
2  2007   24477   4263  210377.0  0.116348
3  2008   25182   3599  184696.0  0.136343
4  2009   47865   4394  285199.0  0.167830
5  2010  120190   7536  580300.0  0.207117
6  2011  187149   8420  766736.0  0.244085
7  2012  270922  10446  986501.0  0.274629

In [80]:
bio['ratio_bf'] = bio_bf['ratio']
bio['ratio_bf/t'] = bio['ratio_bf'] / bio['ratio_t']
bio

   year  number  count       sum   ratio_t  ratio_bf  ratio_bf/t
0  2005    5757   4109  140656.0  0.040930  0.032640    0.797464
1  2006   13178   4731  197627.0  0.066681  0.055519    0.832600
2  2007   24477   4263  210377.0  0.116348  0.101147    0.869347
3  2008   25182   3599  184696.0  0.136343  0.118595    0.869828
4  2009   47865   4394  285199.0  0.167830  0.147595    0.879432
5  2010  120190   7536  580300.0  0.207117  0.185066    0.893535
6  2011  187149   8420  766736.0  0.244085  0.223902    0.917312
7  2012  270922  10446  986501.0  0.274629  0.253501    0.923066

In [81]:
ee['ratio_bf'] = ee_bf['ratio']
ee['ratio_bf/t'] = ee['ratio_bf'] / ee['ratio_t']
ee

   year  number  count       sum   ratio_t  ratio_bf  ratio_bf/t
0  2005    1611   2158   39600.0  0.040682  0.014091    0.346369
1  2006    7161   3575   79299.0  0.090304  0.045486    0.503701
2  2007   10931   3116   80657.0  0.135525  0.072281    0.533346
3  2008   19441   3935  103089.0  0.188585  0.107063    0.567718
4  2009   37376   4812  148322.0  0.251992  0.162929    0.646565
5  2010   86206   7759  313354.0  0.275107  0.189380    0.688386
6  2011  113188   8122  332545.0  0.340369  0.247401    0.726862
7  2012  158338  10385  386279.0  0.409906  0.287515    0.701417

In [45]:
bio.to_csv('appcit_trend_drug.csv',index=False)
ee.to_csv('appcit_trend_infosto.csv',index=False)

In [82]:
ee.to_csv('appcit_trend_ebiz.csv',index=False)