### 1. patent infringement case 개수 확인 & 고르기

특허 소송의 경우, cause == ~ patent infringement

In [1]:
import csv
import os
import re

os.chdir('E:/apps')

patent_regex = re.compile('.* Patent Infringement$')
cnt = 0
with open('litigation/cases.csv', 'rb') as f:
    reader = csv.reader(f)
    header = reader.next()
    i = header.index('case_cause')
    for line in reader:
        if patent_regex.findall(line[i]):
            cnt+=1
cnt

61803

와 많네 이거만 골라서 하나 만들자

In [2]:
with open('litigation/cases.csv', 'rb') as f, open('litigation/patent_cases.csv','wb') as f2:
    reader = csv.reader(f)
    writer = csv.writer(f2)
    
    header = reader.next()
    writer.writerow(header)
    i = header.index('case_cause')
    
    for line in reader:   
        if patent_regex.findall(line[i]):
            writer.writerow(line)

### 2. patent case에 맞는 기업들 고르기

In [1]:
import pandas as pd
import os

os.chdir('E:/apps/litigation')

df = pd.read_csv('patent_cases.csv')
df1 = pd.read_csv('names.csv')

df = df['case_row_id'].to_frame()
df = df.merge(df1,how='left',on='case_row_id')

In [4]:
list(df)

['case_row_id',
 'case_number',
 'party_row_count',
 'party_type',
 'name_row_count',
 'name']

In [5]:
df.to_csv('patent_names.csv',index=False)

In [2]:
df.iloc[0:5,:]

,case_row_id,case_number,party_row_count,party_type,name_row_count,name
0,54973,01-Jan-1970,306263.0,Plaintiff,399941.0,ASTRAZENECA AB
1,54973,01-Jan-1970,306264.0,Plaintiff,399942.0,AKTIEBOLAGET HASSLE
2,54973,01-Jan-1970,306265.0,Plaintiff,399943.0,ASTRAZENECA LP
3,54973,01-Jan-1970,306266.0,Plaintiff,399944.0,"KBI INC,"
4,54973,01-Jan-1970,306267.0,Plaintiff,399945.0,KBI-E INC.

In [3]:
len(df)

490216

In [5]:
df = df['name'].to_frame()
df.drop_duplicates(inplace=True)
len(df)

142601

In [6]:
df.to_csv('lit_name.csv',index=False)