# Bio 산업 assignee와 compustat matching

### Compustat
- 2010년 상장사 재무정보
- nameprocessing 새로 필요

### matching 방법
- 이름 기준으로 matching (key가 딱히 없음)
- nameprocessing 결과로 1차 matching
- matching 실패한 assignee 중 num_patent 기준 상위 n%에 대해 manual matching
- match 후 key 부여 (index = key로 두면 될 듯)

### 마무리
- compustat_gvkey_numpat
- assignee_gvkey

In [1]:
#-*- coding: utf-8 -*-
import os
import pandas as pd

os.chdir('E:/apps')

### AG, BV, CORP, CO, kabushiki kaisha 처리 필요

def nameprocessing(s):
    s = s.lower()
    s = s.replace("-"," ")
    s = s.replace("&",'and')

    rm = ['.',',',';',"'",'kabushiki kaisha','kabushikikaisha','limited','company','corporation','incorporated']

    for i in rm:
        s = s.replace(i,"")

    sp=s.split()
    sp.reverse()

    abb=['inc','ltd','llc','pte','plc','kft','co','gmbh','corp','ag','bv','kg']

    for i in range(0,len(sp)):
        if sp[i] in abb:
            sp[i]=''
    
    sp.reverse()
    return ''.join(sp)

### 1. nameprocessing

In [2]:
com = pd.read_csv('compustat_10.csv')[['conm','gvkey']]
com['new_assignee'] = com['conm'].apply(nameprocessing)
com.iloc[0:5,:]

                           conm  gvkey           new_assignee
0          ASM INTERNATIONAL NV   1166     asminternationalnv
1              HADERA PAPER LTD   1491            haderapaper
2  ATLAS CONS MINING & DEV CORP   1855  atlasconsmininganddev
3      BRITISH AMER TOBACCO PLC   1932     britishamertobacco
4       BANK LEUMI LE-ISRAEL BM   2018    bankleumileisraelbm

In [3]:
df = pd.read_csv('assignee_profile_BIO.csv')
df['new_assignee'] = df['assignee'].apply(nameprocessing)
df.to_csv('assignee_new_BIO.csv', index=False)
df.iloc[0:5,:]

                            assignee  num_patent                new_assignee
0       BOSTON SCIENTIFIC SCIMED INC        1419      bostonscientificscimed
1            MONSANTO TECHNOLOGY LLC        1405          monsantotechnology
2                      MEDTRONIC INC        1289                   medtronic
3  PIONEER HI BRED INTERNATIONAL INC        1128  pioneerhibredinternational
4             CARDIAC PACEMAKERS INC        1071           cardiacpacemakers

### 2. matching

1. assignee를 new_assingee 기준으로 뭉치기
2. compustat과 new_assignee 기준으로 match

In [4]:
a=len(df)
df = df.groupby('new_assignee',as_index=False).sum()
df.sort_values('num_patent', ascending=False, inplace=True)

print a, len(df)

7413 7278

In [5]:
df = df.merge(com, on='new_assignee', how='left', sort=False)
df.drop_duplicates(inplace=True)   #I don't know why but there are some duplicates
df.to_csv('patent_compustat_key_BIO.csv',index=False)
print df['num_patent'].median(), df['num_patent'].mean()

2.0 10.8589074938

### 3. manual processing
- num_patent가 평균 보다 큰 기업의 경우(11개) matching 시도 (엑셀로) (전체의 80% 커버)
- median이 2.0이니 흠...